/*
 * Program title: iCPS
 * Project title: CPS Builder
 * This script governs all the styles for the "job_history.html"
 * Written by Yin Jun Hao
*/


.header {
    text-align: center;
    margin-top: 3rem;
}
/*filter search*/
#filter-input {
    background-image: url('../../images/searchicon.png'); /* Add a search icon to input */
    background-size: 1.5rem;
    background-position: 1rem 1.2rem;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 1.6rem;
    padding: 1.2rem 2rem 1.2rem 4rem;
    border: 0.2rem solid #ddd;
    margin-bottom: 1rem;
}
/*table properties*/
.table-striped {
    text-align: center;
    table-layout: fixed;
    width: 100%;
}


#table td {
    font-size: 1.5rem;
    font-weight: 400;
    height: 5rem;
}

#table input {
    font-size: 1.5rem;
}

#table th {
    background: #303030;
    color: white;
    height: 3rem;
}
#table span {
   cursor: pointer;
   font-size: 1.5rem;
}

