/*
 * Program title: iCPS
 * Project title: CPS Builder
 * Thi script governs all the styles for the "change_password.html"
 * Written by Yin Jun Hao
*/

.header {
    text-align: center;
    margin-top: 3rem;
}
#change-password-page {
    margin: 0 auto;
    width: 25%;
}
.profile p,
.profile b,
.profile button,
.profile input,
.profile a {
    font-size: 2rem;
    display: inline;
}
.btn {
    width: 18rem;
}
td {
    height: 8rem;
}
span {
    display: block;
    padding: 2rem 0;
}

#action-buttons {
    text-align: center;
}