{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="cover-heading">Manage Software</h1>
    <p class="lead">
        Choose softwares to delete or add new software with the button
    </p>
</div>
<div class="container">
    <h1 class="display-10">Resource Available:</h1>
</div>
{% from "includes/_formhelpers.html" import render_field %}
<div class="container" style="align-content: center">
    <form method='POST' business=''>
        {{ software_list_form.csrf_token() }}
        <div class="container" style="text-align: left">
            <table class="table-striped" style="width:100%">
                <tr>
                    <th class="index"></th>
                    <th class="content">ID</th>
                    <th class="content">Name</th>
                    <th class="content">Edit</th>
                    <th class="content">Software Type</th>
                </tr>
                {% for subfield in software_list_form.software_list %}
                <tr>
                    {% if session['is_admin'] %}
                    <td class="index"><label> {{ subfield }} </label></td>
                    {% else %}
                    <td class="index"><label>{{ loop.index }}</label></td>
                    {% endif %}
                    <td class="content">{{ software_db_curs[loop.index0]['ID'] }}</td>
                    <td class="content">{{ software_db_curs[loop.index0]['name'] }}</td>
                    <td class="content">
                        <button class="btn btn-primary" name="edit_resource" value={{ software_db_curs[loop.index0]['ID'] }} style="width: 100%">Edit</button>
                    </td>
                    <td class="content">{{ software_db_curs[loop.index0]['software_type'] }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if session['is_admin'] %}
        <p>
            <button class="btn btn-secondary" name="del_resource" value="clear_selection">Clear Selection</button>
            <a class="btn btn-primary" href="{{ url_for('new_resource.enter_software') }}">Add New Resource</a>
            <button class="btn btn-danger" name="del_resource" value="delete">Delete Resources</button>
        </p>
        {% endif %}
    </form>
    {% include 'includes/_messages.html' %}
</div>


{% endblock %}