<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/user/change_password.css") }}">
{% extends "layout.html" %}

{% block body %}
    <div class="header">
        <h1>Change Password</h1>
        <p class="lead">
            Password change for {{ session["user_id"] }}
        </p>
    </div>
    <div id="change-password-page">
        <form method="POST">
            {{ form.csrf_token() }}
            <div class="profile">
                <table>
                    <tr>
                        <td><b>User ID: </b></td>
                        <td><p>{{ profile_details["user_id"] }}<p></p></td>
                    </tr>
                    <tr>
                        <td><b>Old Password: </b></td>
                        <td><p>{{ form.old_password(class="form-control") }}</p></td>
                    </tr>
                    <tr>
                        <td><b>New Password: </b></td>
                        <td><p>{{ form.new_password(class="form-control") }}</p></td>
                    </tr>
                    <tr>
                        <td><b>Confirm Password: </b></td>
                        <td><p>{{ form.confirm_password(class="form-control") }}</p></td>
                    </tr>
                </table>
                {% include "includes/_messages.html" %}
                <span id="action-buttons"><a type="button" class="btn btn-secondary" name="cancel"
                                             href="{{ url_for('user.profile', user_id = session['user_id']) }}">Cancel</a>
                    <button class="btn btn-primary" name="confirm" type="submit"
                            value="/">Change Password</button></span>
            </div>
        </form>
    </div>
{% endblock %}