<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/processes/process.css") }}">
{% extends "layout.html" %}

{% block body %}
    <div class="header">
        <h1 class="cover-heading">{{ task_details["task"]["sentence"] }}</h1>
        <p class="lead">
            Below are details for the selected task
        </p>
    </div>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="container" id="process-page">
            <div class="layer">
                <div class="row">
                    <div class="col layer-details" id="task-layer-details-0" style="display: block">
                        <p>name: {{ task_details["task"]["sentence"] }}</p>
                        <p>layer: {{ task_details["task"]["layer"] }}</p>
                        <p>created by: {{ task_details["task"]["created_by"] }}</p>
                        <p>last update: {{ task_details["task"]["last_update"] }}</p>
                    </div>
                    {% set ns = namespace(layer=task_details["task"]["content_layer"]) %}
                    {% for num in range(0, task_details["task"]["layer_no"]) %}
                        {% for layer in task_details[ns.layer] %}
                            <div class="col layer-details replace-underscore" id="{{ ns.layer + '-layer-details-' + layer['index']|string  }}">
                                <p>name: {{ layer["sentence"] }}</p>
                                <p>layer: {{ layer["layer"] }}</p>
                                <p>created by: {{ layer["created_by"] }}</p>
                                <p>last update: {{layer["last_update"] }}</p>
                            </div>
                        {% endfor %}
                        {% if ns.layer == "objective_layer_1" %}
                            {% set ns.layer = "step" %}
                        {% else %}
                            {% set ns.layer = "objective_layer_" + (task_details["task"]["content_layer"][16:]|int - num|int - 1)|string %}
                        {% endif %}
                    {% endfor %}
                    <div class="col">
                        <div class="actions">
                            <button class="btn btn-warning custom-btn" name="conflict-check" value="/">Conflict Check
                            </button>
                            <button type=button id="tree-nav-button" class="btn btn-info" onclick="showTree()">Tree
                                Nav
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-primary" id="process-edit-button" name="edit"
                                    value="/">Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-layer">
                <div class="table-task" id="task-content-details-0" style="display: block">
                    <div class="back">
                        <a href="{{ url_for("processes.processes_list") }}"><i
                                class="material-icons">navigate_before</i><span>Processes List</span></a>
                    </div>
                    <div class="content-layer replace-underscore">content
                        layer: {{ task_details["task"]["content_layer"] }}</div>
                    {% for content in task_details[task_details["task"]["content_layer"]] %}
                        {% if content["index"] in task_details["task"]["content_index"] %}
                            <div class="cont">
                                <i class="material-icons" onclick="moreDetails(this)">chevron_right</i>
                                <p>{{ content["sentence"] }}</p>
                                    <button type="button" class="btn btn-outline-info" id="{{ task_details["task"]["content_layer"] + "-content-layer-0" }}" onclick="showLayer(this.id)">Details
                                    </button>
                            </div>
                            <table class="table table-striped content-details">
                                <tbody>
                                <tr>
                                    <td><b>content name</b></td>
                                    <td><b>content layer</b></td>
                                    <td><b>last update</b></td>
                                    <td><b>last updated by</b></td>
                                </tr>
                                {% for cont in task_details[content["content_layer"]] %}
                                    {% if cont["index"] in content["content_index"] %}
                                        <tr>
                                            <td>{{ cont["sentence"] }}</td>
                                            <td>{{ cont["layer"] }}</td>
                                            <td>{{ cont["last_update"] }}</td>
                                            <td>{{ cont["last_updated_by"] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
                {% set ns = namespace(layer=task_details["task"]["content_layer"], previous_layer="Task", previous_index="0", previous="task") %}
                {% for num in range(0, task_details["task"]["layer_no"]) %}
                    {% for layer in task_details[ns.layer] %}
                        {% if ns.layer != "step" %}
                            <div class="table-task" id="{{ ns.layer+'-content-details-'+ layer['index']|string }}">
                                <div class="back">
                                    <a onclick="showLayer(this.id)" id="{{ ns.previous + "-previous-layer-" + ns.previous_index }}"><i
                                            class="material-icons">navigate_before</i><span class="replace-underscore">{{ ns.previous_layer }}</span></a>
                                </div>
                                <div class="content-layer replace-underscore">content layer: {{ layer["content_layer"] }}</div>
                                {% for content in task_details[layer["content_layer"]] %}
                                    {% if content["index"] in layer["content_index"] %}
                                         <div class="cont">
                                            <i class="material-icons" onclick="moreDetails(this)">chevron_right</i>
                                            <p>{{ content["sentence"] }}</p>
                                             <button type="button" class="btn btn-outline-info"
                                                     id="{{ layer["content_layer"] + "-content-layer-" + content["index"]|string }}"
                                                     onclick="showLayer(this.id)">Details
                                             </button>
                                        </div>
                                        {% if layer["content_layer"] != "step" %}
                                            <table class="table table-striped content-details">
                                                <tbody>
                                                <tr>
                                                    <td><b>content name</b></td>
                                                    <td><b>content layer</b></td>
                                                    <td><b>last update</b></td>
                                                    <td><b>last updated by</b></td>
                                                </tr>
                                                {% for cont in task_details[content["content_layer"]] %}
                                                    {% if cont["index"] in content["content_index"] %}
                                                        <tr>
                                                            <td>{{ cont["sentence"] }}</td>
                                                            <td>{{ cont["layer"] }}</td>
                                                            <td>{{ cont["last_update"] }}</td>
                                                            <td>{{ cont["last_updated_by"] }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <table class="table table-striped content-details">
                                                <tbody>
                                                <tr>
                                                    <td><b>condition</b></td>
                                                    <td><b>sets</b></td>
                                                </tr>
                                                {% for location in content["location_id"] %}
                                                    {% if loop.index == 1 %}
                                                        <tr>
                                                            <td>location id</td>
                                                            <td>{{ location }}</td></tr>
                                                    {% else %}
                                                        <tr>
                                                            <td></td>
                                                            <td>{{ location }}</td></tr>
                                                    {% endif %}
                                                {% endfor %}
                                                <tr>
                                                    <td>parameters</td>
                                                    <td>
                                                        {% for param in task_details["parameter"] %}
                                                            {% if param["index"] in content["step_param_index"] %}
                                                                <div>{{ param["param"]["var"] }}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="grid-task" id="{{ ns.layer+'-content-details-'+ layer['index']|string}}" >
                                <div class="back">
                                    <a onclick="showLayer(this.id)" id="{{ ns.previous + "-previous-layer-" + ns.previous_index }}"><i
                                            class="material-icons">navigate_before</i><span class="replace-underscore">{{ ns.previous_layer }}</span></a>
                                </div>
                                <div class="grid-details">
                                     <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Parameters</th>
                                            </tr>
                                            <tr>
                                                <th>name</th>
                                                <th>type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for param in task_details["parameter"] %}
                                                {% if param["index"] in layer["step_param_index"] %}
                                                    <tr>
                                                        <td>{{ param["param"]["var"] }}</td>
                                                        <td>{{ param["param"]["type"] }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            <tbody>
                                     </table>
                                </div>
                                <div class="grid-details">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th colspan="3">state executors</th>
                                        </tr>
                                        </thead>
                                        {% for exec in task_details["state"] %}
                                            {% if exec["index"] in layer["state_exec_index"] %}
                                                <tbody>
                                                    <tr>
                                                        <th>name</th>
                                                        <th>type</th>
                                                        <th>class</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ exec["var"] }}</td>
                                                        <td>{{ exec["type"] }}</td>
                                                        <td>{{ exec["class"] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Executor Class</th>
                                                        <th>Executor Name</th>
                                                        <th>Executor Software</th>
                                                    </tr>
                                                    {% for executor in exec["exec"] %}
                                                        <tr>
                                                            <td>{{ executor["physical_resource_class"] }}</td>
                                                            <td>{{ executor["physical_resource_name"] }}</td>
                                                            <td>{{ executor["cyber_resource_name"] }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                <tbody>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="grid-details">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th>blocker steps</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for condition in task_details["condition"] %}
                                            {% if layer["step_cond_index"] == condition["index"] %}
                                                {% for blockstep in task_details["isBlockedByStep"] %}
                                                    {% if blockstep["index"] in condition["isBlockedByStep_index"] %}
                                                        {% for step in task_details["step"] %}
                                                            {% if step["index"] in blockstep["StepBlocker_index"] %}
                                                                <tr>
                                                                    <td>{{ step["sentence"] }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="grid-details">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th>blocker states</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for condition in task_details["condition"] %}
                                            {% if layer["step_cond_index"] == condition["index"] %}
                                                {% for blockstate in task_details["isBlockedByState"] %}
                                                    {% if blockstate["index"] in condition["isBlockedByState_index"] %}
                                                        {% for state in task_details["state"] %}
                                                            {% if state["index"] in blockstate["StateBlocker_index"] %}
                                                                <tr>
                                                                    <td>{{ state["var"] }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                 <div class="grid-details">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th colspan="2">prerequisite steps</th>
                                        </tr>
                                        <tr>
                                            <th>set index</th>
                                            <th>list</th>
                                        </tr>
                                        </thead>
                                            {% for condition in task_details["condition"] %}
                                                {% if layer["step_cond_index"] == condition["index"] %}
                                                    {% for prereqstep in task_details["hasPrerequisiteStep"] %}
                                                        {% if prereqstep["index"] in condition["hasPrerequisiteStep_index"] %}
                                                            <tbody>
                                                                {% for step in task_details["step"] %}
                                                                    <tr>
                                                                    {% if step["index"] in prereqstep["StepPrerequisite_index"] %}
                                                                        {% if loop.index == 1 %}
                                                                            <td>{{ prereqstep["index"] }}</td>
                                                                            <td>{{ step["sentence"] }}</td>
                                                                        {% else %}
                                                                            <td></td>
                                                                            <td>{{ step["sentence"] }}</td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                    </table>
                                </div>
                                <div class="grid-details">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th colspan="2">prerequisite states</th>
                                        </tr>
                                        <tr>
                                            <th>set index</th>
                                            <th>list</th>
                                        </tr>
                                        </thead>
                                            {% for condition in task_details["condition"] %}
                                                {% if layer["step_cond_index"] == condition["index"] %}
                                                    {% for prereqstate in task_details["hasPrerequisiteState"] %}
                                                        {% if prereqstate["index"] in condition["hasPrerequisiteState_index"] %}
                                                            <tbody>
                                                                {% for state in task_details["state"] %}
                                                                    <tr>
                                                                    {% if state["index"] in prereqstate["StatePrerequisite_index"] %}
                                                                        {% if loop.index == 1 %}
                                                                            <td>{{ prereqstate["index"] }}</td>
                                                                            <td>{{ state["var"] }}</td>
                                                                        {% else %}
                                                                            <td></td>
                                                                            <td>{{ state["var"] }}</td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                    </table>
                                </div>
                                <div class="grid-details isachievedby">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th colspan="2">achieving conditions</th>
                                        </tr>
                                        {% for condition in task_details["condition"] %}
                                            {% if layer["step_cond_index"] == condition["index"] %}
                                                {% for isachieved in task_details["isAchievedBy"] %}
                                                    {% if isachieved["index"] in condition["isAchievedBy_index"] %}
                                                    <tbody>
                                                    <tr>
                                                        <th colspan="2">Set {{ loop.index }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>prerequisite states set index</th>
                                                        <th>correct states</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table class="table table-borderless">
                                                                {% for prereqstate in task_details["hasPrerequisiteState"] %}
                                                                    {% if prereqstate["index"] in isachieved["hasPrerequisiteState_index"] %}
                                                                        <tr>
                                                                            <td>{{ prereqstate["index"] }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table class="table table-borderless">
                                                                {% for state in task_details["state"] %}
                                                                    {% if state["index"] in isachieved["StateCorrect_index"] %}
                                                                        <tr>
                                                                            <td>{{ state["var"] }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="grid-details isfailedby">
                                   <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th colspan="4">failing conditions</th>
                                            </tr>
                                        </thead>
                                        {% for condition in task_details["condition"] %}
                                            {% if layer["step_cond_index"] == condition["index"] %}
                                                {% for isfailedby in task_details["isFailedByState"] %}
                                                    {% if isfailedby["index"] in condition["isFailedByState_index"] %}
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="4">Set {{ loop.index }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>prerequisite states set index</th>
                                                                <th>Failed State</th>
                                                                <th>correct states</th>
                                                                <th>return to step</th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="table table-borderless">
                                                                        {% for prereqstate in task_details["hasPrerequisiteState"] %}
                                                                            {% if prereqstate["index"] in isfailedby["hasPrerequisiteState_index"] %}
                                                                                <tr>
                                                                                    <td>{{ prereqstate["index"] }}</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    <table class="table table-borderless">
                                                                        {% for state in task_details["state"] %}
                                                                            {% if state["index"] in isfailedby["StateWrong_index"] %}
                                                                                <tr>
                                                                                    <td>{{ state["var"] }}</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    <table class="table table-borderless">
                                                                        {% for state in task_details["state"] %}
                                                                            {% if state["index"] in isfailedby["StateCorrect_index"] %}
                                                                                <tr>
                                                                                    <td>{{ state["index"] }}</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    <table class="table table-borderless">
                                                                        {% for step in task_details["step"] %}
                                                                            {% if step["index"] in isfailedby["StepReturn_index"] %}
                                                                                <tr>
                                                                                    <td>{{ step["sentence"] }}</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                   </table>
                                </div>
                                <div class="grid-details location-id">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th>Location ID</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for location_id in layer["location_id"] %}
                                            <tr>
                                                <td>{{ location_id }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% set ns.previous = "objective_layer_" + (task_details["task"]["content_layer"][16:]|int - num|int)|string %}
                        {% for prev in task_details[ns.previous] %}
                            {% if layer["index"] in prev["content_index"] %}
                                {% set ns.previous_index = prev["index"]|string %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if ns.layer == "objective_layer_1" %}
                        {% set ns.layer = "step" %}
                    {% else %}
                        {% set ns.layer = "objective_layer_" + (task_details["task"]["content_layer"][16:]|int - num|int - 1)|string %}
                    {% endif %}
                    {% set ns.previous_layer = "Objective_layer_" + (task_details["task"]["content_layer"][16:]|int - num|int)|string %}
                {% endfor %}
            </div>
            {% include "tree.html" %}
        </div>
    </form>
    <script type="text/javascript" src="{{ url_for("static", filename="js/processes/process.js") }}"></script>
{% endblock %}