<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/processes/tree.css") }}">
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div id="tree-nav">
        <div class="tree-content">
            <div class="row-tree">
                <p>task</p>
                {% if (layer_details["layer"] == "task") %}
                    <div class="tree-detail" id="glow">
                        <button id="task-0" type="submit" name="tree-nav"
                                value="0,task">{{ session["process_details"]["task"]["sentence"] }}</button>
                    </div>
                {% else %}
                    <div class="tree-detail">
                        <button id="task-0" type="submit" name="tree-nav"
                                value="0,task">{{ session["process_details"]["task"]["sentence"] }}</button>
                    </div>
                {% endif %}
            </div>
            {% set ns = namespace(layer="task", next=session["process_details"]["task"]["content_layer"]) %}
            {% for num in range(0, session["process_details"]["task"]["layer_no"]) %}
                {% if ns.layer == "task" %}
                    <div class="row-tree tosort">
                        <p class="replace-underscore">{{ ns.next }}</p>
                        {% for detail in session["process_details"][ns.next] %}
                            {% if detail["index"] in session["process_details"]["task"]["content_index"] %}
                                {% if (ns.next == layer_details["layer"]) and (session["process_details"]["task"]["index"] == layer_details["index"]) %}
                                    <div class="tree-detail" id="glow">
                                        <button id="{{ ns.next|string + "-" + detail["index"]|string }}" type="submit"
                                                name="tree-nav"
                                                value="{{ session["process_details"]["task"]["index"]|string+","+ns.next }}">{{ detail["sentence"] }}</button>
                                    </div>
                                    <svg class="svg">
                                        <line class="line" id="{{ "task-0," + ns.next|string + "-" + detail["index"]|string }}"/>
                                    </svg>
                                {% else %}
                                    <div class="tree-detail">
                                        <button id="{{ ns.next|string + "-" + detail["index"]|string }}" type="submit"
                                                name="tree-nav"
                                                value="{{ session["process_details"]["task"]["index"]|string+","+ns.next }}">{{ detail["sentence"] }}</button>
                                    </div>
                                    <svg class="svg">
                                        <line class="line" id="{{ "task-0," + ns.next|string + "-" + detail["index"]|string }}"/>
                                    </svg>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row-tree tosort">
                        <p class="replace-underscore">{{ ns.next }}</p>
                        {% for parent in session["process_details"][ns.layer] %}
                            {% for detail in session["process_details"][ns.next] %}
                                {% if detail["index"] in parent["content_index"] %}
                                    {% if (ns.next == layer_details["layer"]) and (detail["index"] == layer_details["index"]) %}
                                        <div class="tree-detail" id="glow">
                                            <button id="{{ ns.next+"-"+detail["index"]|string }}" type="submit"
                                                    name="tree-nav"
                                                    value="{{ detail["index"]|string+","+ns.next }}">{{ detail["sentence"] }}</button>
                                        </div>
<!--                                        <svg class="svg">-->
<!--                                            <line class="line"-->
<!--                                                  id="{{ ns.layer|string + "-" + parent["index"]|string + "," + ns.next|string + "-" + detail["index"]|string }}"></line>-->
<!--                                        </svg>-->
<!--                                    -->
                                    {% else %}
                                        <div class="tree-detail">
                                            <button id="{{ ns.next+"-"+detail["index"]|string }}" type="submit"
                                                    name="tree-nav"
                                                    value="{{ detail["index"]|string+","+ns.next }}">{{ detail["sentence"] }}</button>
                                        </div>
                                    {% endif %}
                                        <svg class="svg">
                                            <line class="line"
                                                  id="{{ ns.layer|string +"-"+parent["index"]|string + "," + ns.next|string + "-" + detail["index"]|string }}"></line>
                                        </svg>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if ns.layer == "task" %}
                    {% set ns.layer = session["process_details"]["task"]["content_layer"] %}
                    {% if ns.next == "objective_layer_1" %}
                        {% set ns.next = "step" %}
                    {% else %}
                        {% set ns.next = "objective_layer_" + (session["process_details"]["task"]["content_layer"][16:]|int - num|int - 1)|string %}
                    {% endif %}
                {% else %}
                    {% set ns.layer = "objective_layer_" + (session["process_details"]["task"]["content_layer"][16:]|int - num|int)|string %}
                    {% if ns.next == "objective_layer_1" %}
                        {% set ns.next = "step" %}
                    {% else %}
                        {% set ns.next = "objective_layer_" + (session["process_details"]["task"]["content_layer"][16:]|int - num|int - 1)|string %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <button type="button" class="btn btn-light" id="close-tree" onclick="closeTree()">Close</button>
    </div>
</form>