<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/main/home.css") }}">
{% extends "layout.html" %}

{% block body %}
    <div id="home-page">
        <div class="header">
            <h1>Intelligent Cyber-Physical System</h1>
            <p class="lead">
                A Smarter Way to Build
            </p>
        </div>
        <div class="container">
            <p id="about">
                With rising demands for quality as well as affordable healthcare services,
                organizations in the medical device manufacturing industry are
                embracing more intelligent and responsive systems via the
                integration and development of dynamic digital technologies.
                We are proposing a Cyber-Physical System (CPS)-based
                production system with integrated enabling digital technologies
                and robot assistance. It could potentially increase productivity
                and sustainability, specifically for the production of patient-specific,
                hybrid medical devices.
                <br>
                A hybrid medical device incorporates multiple
                components and materials that have to perform without fault for a
                long time often under the stressful conditions of the human body.
                Examples of hybrid medical device include artificial trachea, artificial
                pancreas for treatment of diabetes and information-delivering microchips.
                <br>
                The proposed CPS-based manufacturing system utilizes an integration of
                enabling digital technologies including Augmented Reality (AR),
                Wireless Sensor Network (WSN), Internet of Things (IoT) and Artificial
                Intelligence (AI) for the fabrication of patient-specific medical devices.
                Necessary visual and haptic cues are provided to the human operator in a
                timely manner so that he/she can intervene in a speedy manner.
                Importance-driven computer graphical rendering of visual cues is
                embedded into physics-based simulation for haptic rendering.
            </p>
        </div>
    </div>
{% endblock %}

