/*
 * Program title: iCPS
 * Project title: CPS Builder
 * This script governs all the styles for the "running.html"
 * Written by Yin Jun Hao
*/

/*running.html*/

h1 {
    text-transform: capitalize;
}

.header {
    text-transform: capitalize;
    margin-top: 3rem;
    text-align: center;
}

.table-striped {
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

td{
    width: 5rem;
    margin-left: 2rem;
}

#table th {
    background: #303030;
    color: white;
    height: 3rem;
    font-size: 1.5rem;
}

#table td {
    font-size: 1.5rem;
    font-weight: 400;
    height: 5rem;
}

/*For more details*/
#more-details-icon {
    cursor: pointer;
}

.more-details {
    display: none;
    text-align: center;
}
