{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="cover-heading">iCPS Optimizer</h1>
    <p class="lead">
        iCPS finds and suggests to user optimized manufacturing methods
        in compliance with CGMP and ISO rulings.
    </p>
</div>
<div class="container" style="align-self: center; align-content: center">
    <form method="POST">
        <div class="container" style="width: 60%; align-self: center; align-content: center" )>
            <table class="table-striped" style="width: 100%;" align="center">
                {{ edit_workcell_form.csrf_token() }}
                <tr>
                    <th class="index"></th>
                    <th class="content">Category</th>
                    <th class="content"></th>
                    <th class="content" style="text-align: center">Edit</th>
                </tr>
                <tr>
                    <td class="index">1</td>
                    <td class="content">Workcell ID</td>
                    <td class="content">{{ equipment_details['workcell_id'] }}</td>
                    <td class="content">
                        {{ edit_workcell_form.workcell_id(class_="form-control", style="text-align: left") }}
                    </td>
                </tr>
                <tr>
                    <td class="index">2</td>
                    <td class="content">Component Name</td>
                    <td class="content">{{ equipment_details['location_name'] }}</td>
                    <td class="content">
                        {{ edit_workcell_form.location_name(class_="form-control", style="text-align: left", value=equipment_details['location_name']) }}
                    </td>
                </tr>

                <tr>
                    <td class="index">3</td>
                    <td class="content">Coodinates</td>
                    {% if equipment_details.coordinate is defined %}
                    <td class="content">
                        <table class="table-striped" style="width: 100%;" align="center">
                            <tr>
                                <th class="content"></th>
                                <th class="content" style="text-align: center">x</th>
                                <th class="content" style="text-align: center">y</th>
                                <th class="content" style="text-align: center">z</th>
                            </tr>
                            <tr>
                                <th class="content">Min</th>
                                <td class="content">{{ equipment_details['coordinate']['x_min'] }}</td>
                                <td class="content">{{ equipment_details['coordinate']['y_min'] }}</td>
                                <td class="content">{{ equipment_details['coordinate']['z_min'] }}</td>
                            </tr>
                            <tr>
                                <th class="content">Max</th>
                                <td class="content">{{ equipment_details['coordinate']['x_max'] }}</td>
                                <td class="content">{{ equipment_details['coordinate']['y_max'] }}</td>
                                <td class="content">{{ equipment_details['coordinate']['z_max'] }}</td>
                            </tr>
                        </table>
                    </td>
                    {% else %}
                    <td class="content"></td>
                    {% endif %}
                    {% if equipment_details.coordinate is defined %}
                    <td class="content">
                        <table class="table-striped" style="width: 100%;" align="center">
                            <tr>
                                <th class="content"></th>
                                <th class="content" style="text-align: center">x</th>
                                <th class="content" style="text-align: center">y</th>
                                <th class="content" style="text-align: center">z</th>
                            </tr>
                            <tr>
                                <th class="content">Min</th>
                                <td class="content">{{ edit_workcell_form.x_min(class_="form-control", style="text-align: center", value=equipment_details['coordinate']['x_min']) }}</td>
                                <td class="content">{{ edit_workcell_form.y_min(class_="form-control", style="text-align: center", value=equipment_details['coordinate']['y_min']) }}</td>
                                <td class="content">{{ edit_workcell_form.z_min(class_="form-control", style="text-align: center", value=equipment_details['coordinate']['z_min']) }}</td>
                            </tr>
                            <tr>
                                <th class="content">Max</th>
                                <td class="content">{{ edit_workcell_form.x_max(class_="form-control", style="text-align: center", value=equipment_details['coordinate']['x_max']) }}</td>
                                <td class="content">{{ edit_workcell_form.y_max(class_="form-control", style="text-align: center", value=equipment_details['coordinate']['y_max']) }}</td>
                                <td class="content">{{ edit_workcell_form.z_max(class_="form-control", style="text-align: center", value=equipment_details['coordinate']['z_max']) }}</td>
                            </tr>
                        </table>
                    </td>
                    {% else %}
                    <td class="content">
                        <table class="table-striped" style="width: 100%;" align="center">
                            <tr>
                                <th class="content"></th>
                                <th class="content" style="text-align: center">x</th>
                                <th class="content" style="text-align: center">y</th>
                                <th class="content" style="text-align: center">z</th>
                            </tr>
                            <tr>
                                <th class="content">Min</th>
                                <td class="content">{{ edit_workcell_form.x_min(class_="form-control", style="text-align: center") }}</td>
                                <td class="content">{{ edit_workcell_form.y_min(class_="form-control", style="text-align: center") }}</td>
                                <td class="content">{{ edit_workcell_form.z_min(class_="form-control", style="text-align: center") }}</td>
                            </tr>
                            <tr>
                                <th class="content">Max</th>
                                <td class="content">{{ edit_workcell_form.x_max(class_="form-control", style="text-align: center") }}</td>
                                <td class="content">{{ edit_workcell_form.y_max(class_="form-control", style="text-align: center") }}</td>
                                <td class="content">{{ edit_workcell_form.z_max(class_="form-control", style="text-align: center") }}</td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                </tr>
            </table>
            {% from "includes/_formhelpers.html" import render_field %}

            {{ render_field(edit_workcell_form.workcell_id_new, class_="form-control") }}
        </div>

        <div class="container" style="width: 60%; align-self: center; align-content: center" )>
            {{ edit_workcell_form.submit_workcell(class_="btn btn-blk btn-primary", style="width: 50%") }}
        </div>
    </form>
</div>
{% endblock %}